.slide-container {
    width: 100%;
    margin: auto; 
  }

  .react-slideshow-fade-wrapper{
    z-index:-1;
  }
   
  .each-fade {
    display: flex;
  }
   
  .each-fade .image-container {
    width: 100%;
    overflow: hidden;
  }
   
  .each-fade .image-container img {
    width: 100%;
    height:600px;
  }
